<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ionicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/swiper-bundle.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
</head>

<body id="dark">
<!-- ----------------------- Header ----------------------->
<header class="dark-bb">
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="exchange-dark.html">
            <img src="{{ url_for('static', filename='images/logo.png')}}" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headerMenu"
                aria-controls="headerMenu" aria-expanded="false" aria-label="Toggle navigation">
            <i class="icon ion-md-menu"></i>
        </button>
        <div class="collapse navbar-collapse" id="headerMenu">
            <ul class="navbar-nav mr-auto">
                <li class="nav_bar_link nav-item active">
                    <a class="nav-link" href="./index.html" role="button" aria-haspopup="true" aria-expanded="false">
                        Dashboard
                    </a>
                </li>
                <li class="nav_bar_link nav-item ">
                    <a class="nav-link" href="./logout" role="button" aria-haspopup="true" aria-expanded="false">
                        Logout
                    </a>
                </li>
                <!-- <li class="nav_bar_link nav-item">
                <a class="nav-link" href="./store.html" role="button"aria-haspopup="true" aria-expanded="false">
                Stock
                </a>
            </li> -->
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="navbar-item search_Stock_p">
                    <div class="input-group">

                            <div class="input-group-prepend">
                                <form action="" method="POST" class="stock_form">
                                    <span class="input-group-text" id="search_stock">
                                        <button type="submit" style="background: none; padding: 0px;border: none">
                                            <i class="icon ion-md-search"></i>
                                        </button>
                                    </span>
                            </div>
                            <input type="text" class="form-control search_stock_inp" placeholder="Search"
                                   aria-describedby="search_stock">
                        </form>
                    </div>
                    <div class="search_stock_dropdown">
                        <div class="heading">
                            <span>Company</span>
                        </div>
                        <ul class="comp_content list-group">
                            <!-- --------- Company --------- -->
                            <li class="list-group-item list-group-item-action" data-company="amazon">
                                <div class="img">
                                    <img src="{{ url_for('static', filename='images/icon/1.png')}}" alt="">
                                </div>
                                <div class="st_comp">
                                    Amazon
                                </div>
                            </li>
                            <!-- --------- Company --------- -->
                            <li class="list-group-item list-group-item-action" data-company="google">
                                <div class="img">
                                    <img src="{{ url_for('static', filename='images/icon/1.png')}}" alt="">
                                </div>
                                <div class="st_comp">
                                    <a href="http://127.0.0.1:5000/stocks?ticker=GOOGL">Google</a>
                                </div>
                            </li>
                            <!-- --------- Company --------- -->
                            <li class="list-group-item list-group-item-action" data-company="microsoft">
                                <div class="img">
                                    <img src="{{ url_for('static', filename='images/icon/1.png')}}" alt="">
                                </div>
                                <div class="st_comp">
                                    Microsoft
                                </div>
                            </li>
                            <!-- --------- Company --------- -->
                            <li class="list-group-item list-group-item-action" data-company="facebook">
                                <div class="img">
                                    <img src="{{ url_for('static', filename='images/icon/1.png')}}" alt="">
                                </div>
                                <div class="st_comp">
                                    Facebook
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- ----------------------- End of Header --------------------- -->
<!-- ----------------------- Content --------------------- -->
<div class="container-fluid mtb15 no-fluid">
    <div class="swiper-container">
        <div class="sm-gutters swiper-wrapper">
            <!-- --- Slider --- -->
            <div class="s_slides swiper-slide">
                <div class="cus_markets_capital_item">
                    <h6 class="header">
                        <span>S&P 500</span>
                    </h6>
                    <div class="markets-capital-details">
                        <p class="price">$431,684,298.45</p>
                        <p class="red">-6.19% <i class="icon ion-md-arrow-down"></i></p>
                    </div>
                    <div class="markets-capital-chart" data-charts="[50,48,72,80,60,82,50,48,72,33,44]"
                         data-bg="rgba(255,35,31,.1)" data-border="bd0300">
                        <canvas></canvas>
                    </div>
                </div>
            </div>
            <!-- --- Slider --- -->
            <div class="s_slides swiper-slide">
                <div class="cus_markets_capital_item">
                    <h6 class="header">
                        <span>DOW 30</span>
                    </h6>
                    <div class="markets-capital-details">
                        <p class="price">$27,298.45</p>
                        <p class="green">+6.19% <i class="icon ion-md-arrow-down"></i></p>
                    </div>
                    <div class="markets-capital-chart" data-charts="[50,42,72,80,60,82,82,45,40,55]"
                         data-bg="rgba(38,222,129,.1)" data-border="18d877">
                        <canvas></canvas>
                    </div>
                </div>
            </div>
            <!-- --- Slider --- -->
            <div class="s_slides swiper-slide">
                <div class="cus_markets_capital_item">
                    <h6 class="header">
                        <span>Nasdaq</span>
                    </h6>
                    <div class="markets-capital-details">
                        <p class="price">$431,684,298.45</p>
                        <p class="red">-6.19% <i class="icon ion-md-arrow-down"></i></p>
                    </div>
                    <div class="markets-capital-chart" data-charts="[50,48,72,80,60,82,50,48,72,33,44]"
                         data-bg="rgba(255,35,31,.1)" data-border="bd0300">
                        <canvas></canvas>
                    </div>
                </div>
            </div>
            <!-- --- Slider --- -->
            <div class="s_slides swiper-slide">
                <div class="cus_markets_capital_item">
                    <h6 class="header">
                        <span>Russell 2000</span>
                    </h6>
                    <div class="markets-capital-details">
                        <p class="price">$27,298.45</p>
                        <p class="green">+6.19% <i class="icon ion-md-arrow-down"></i></p>
                    </div>
                    <div class="markets-capital-chart" data-charts="[50,42,72,80,60,82,82,45,40,55]"
                         data-bg="rgba(38,222,129,.1)" data-border="18d877">
                        <canvas></canvas>
                    </div>
                </div>
            </div>
            <!-- --- Slider --- -->
            <div class="s_slides swiper-slide">
                <div class="cus_markets_capital_item">
                    <h6 class="header">
                        <span>Crude Oil</span>
                    </h6>
                    <div class="markets-capital-details">
                        <p class="price">$431,684,298.45</p>
                        <p class="red">-6.19% <i class="icon ion-md-arrow-down"></i></p>
                    </div>
                    <div class="markets-capital-chart" data-charts="[50,48,72,80,60,82,50,48,72,33,44]"
                         data-bg="rgba(255,35,31,.1)" data-border="bd0300">
                        <canvas></canvas>
                    </div>
                </div>
            </div>
            <!-- --- Slider --- -->
            <div class="s_slides swiper-slide">
                <div class="cus_markets_capital_item">
                    <h6 class="header">
                        <span>Gold</span>
                    </h6>
                    <div class="markets-capital-details">
                        <p class="price">$27,298.45</p>
                        <p class="green">+6.19% <i class="icon ion-md-arrow-down"></i></p>
                    </div>
                    <div class="markets-capital-chart" data-charts="[50,42,72,80,60,82,82,45,40,55]"
                         data-bg="rgba(38,222,129,.1)" data-border="18d877">
                        <canvas></canvas>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
    <!-- --------------- Chart -------------- -->
    <div class="row sm-gutters">
        <div class="col-lg-4 col-md-6">
            <!-- --------------- Diversity & Cake chart -------------- -->
            <div class="market-pairs cus_stock_container">
                <h6 class="header">
                    <span>Diversity</span>
                </h6>
                <div class="cakeStockChart_p">
                    <canvas id="cakeStockChart" height="80"></canvas>
                </div>
            </div>
        </div>
        <!-- --------------- Market filter -------------- -->
        <div class="col-lg-8 col-md-6">
            <div class="market-pairs cus_stock_container">
                <div class="header">
                    <!-- img src="assets/img/icon/3.png" alt="icon"> -->
                    <span class="filter" data-chartToggle="1m">1d</span>
                    <span class="filter" data-chartToggle="3m">5d</span>
                    <span class="filter" data-chartToggle="6m">1m</span>
                    <span class="filter" data-chartToggle="ytd">3m</span>
                    <span class="filter" data-chartToggle="1y">6m</span>
                    <span class="filter" data-chartToggle="2y">YTD</span>
                    <span class="filter" data-chartToggle="3y">1y</span>
                    <span class="filter" data-chartToggle="5y">5y</span>
                    <span class="filter active" data-chartToggle="all">all</span>
                </div>
                <div class="lineStockChart_p active" data-chartFilter="all">
                    <canvas id="lineStockChart"></canvas>
                </div>
                <div class="lineStockChart_p" data-chartFilter="1m">
                    <canvas id="lineStockChart_1m"></canvas>
                </div>
                <div class="lineStockChart_p" data-chartFilter="3m">
                    <canvas id="lineStockChart_3m"></canvas>
                </div>
                <div class="lineStockChart_p" data-chartFilter="6m">
                    <canvas id="lineStockChart_6m"></canvas>
                </div>
                <div class="lineStockChart_p" data-chartFilter="ytd">
                    <canvas id="lineStockChart_ytd"></canvas>
                </div>
                <div class="lineStockChart_p" data-chartFilter="1y">
                    <canvas id="lineStockChart_1y"></canvas>
                </div>
                <div class="lineStockChart_p" data-chartFilter="2y">
                    <canvas id="lineStockChart_2y"></canvas>
                </div>
                <div class="lineStockChart_p" data-chartFilter="3y">
                    <canvas id="lineStockChart_3y"></canvas>
                </div>
                <div class="lineStockChart_p" data-chartFilter="5y">
                    <canvas id="lineStockChart_5y"></canvas>
                </div>
            </div>
        </div>
    </div>
    <!-- --------------- Table -------------- -->
    <div class='table_div'>
        <!--         <div class="stock_table">
        <div class="table-responsive"> -->
        <!--                 <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Change per share</th>
                        <th>Shares</th>
                        <th>Cost per share</th>
                        <th>Market value</th>
                        <th>Daily Gain</th>
                        <th>Total Gain</th>
                    </tr>
                </thead> -->
        <!--                         <tr>
                        <td class="table_br"><span class="blue">AAPL</span><br><span>497.6</span></td>
                        <td class="table_br"><span class="green">+5.5%</span><br><span>497.6</span></td>
                        <td>1</td>
                        <td>300.00</td>
                        <td>497</td>
                        <td class="table_br">
                            <span class="green">+6.7</span><br>
                            <span>+2.78</span>
                        </td>
                        <td class="table_br">
                            <span class="green">+5.5%</span><br>
                            <span>+5.78</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="table_br"><span class="blue">AAPL</span><br><span>497.6</span></td>
                        <td class="table_br"><span class="green">+5.5%</span><br><span>497.6</span></td>
                        <td>1</td>
                        <td>300.00</td>
                        <td>497</td>
                        <td class="table_br">
                            <span class="green">+6.7</span><br>
                            <span>+2.78</span>
                        </td>
                        <td class="table_br">
                            <span class="green">+5.5%</span><br>
                            <span>+5.78</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="table_br"><span class="blue">AAPL</span><br><span>497.6</span></td>
                        <td class="table_br"><span class="green">+5.5%</span><br><span>497.6</span></td>
                        <td>1</td>
                        <td>300.00</td>
                        <td>497</td>
                        <td class="table_br">
                            <span class="green">+6.7</span><br>
                            <span>+2.78</span>
                        </td>
                        <td class="table_br">
                            <span class="green">+5.5%</span><br>
                            <span>+5.78</span>
                        </td>
                    </tr> -->
        <div class="addStockToTable" data-toggle="modal" data-target="#addStock" style="z-index: 999;">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#fff" width="25px" height="25px">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
            </svg>
        </div>
        <!-- -------------------- Modal -------------------- -->
        <div class="modal fade stockModal" id="addStock" tabindex="-1" role="dialog" aria-labelledby="addStockLAbel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <form method="POST" action="index.html" class="add_transaction_form">
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label for="symbol">Symbol</label>
                                    <select class="form-control" id="symbol">
                                        <option>FB</option>
                                        <option>TSLA</option>
                                        <option>AMZN</option>
                                        <div class="ticker-select"></div>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label for="inputPassword4">Shares</label>
                                    <input type="text" class="form-control" id="shares">
                                </div>
                            </div>
                            <div class="form-row">
                                <label for="inputEmail4"> Cost per share</label>
                                <input type="text" class="form-control" id="costPerShare">
                            </div>
                            <div class="form-row">
                                <label for="inputEmail4">Purchase date</label>
                                <input type="date" min="1997-01-01" max="3500-12-31" class="form-control"
                                       id="purchaseDate">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn modalClose" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value="Add"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='js/Chart.bundle.min.js') }}"></script>
            <script type="text/javascript"
                    src=" {{ url_for('static', filename='js/swipe/swiper-bundle.min.js') }}"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>
            <script type="text/javascript" src=" {{ url_for('static', filename='js/main.js') }}"></script>
            <script src="{{ url_for('static', filename='js/socketio.js') }}"></script>
            <script type="text/javascript">
        const socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('connect', function () {
            socket.emit('conn event', {
                data: 'User Connected'
            })

        });
        const stock_form = ($('.stock_form')).on('submit', function (e) {
            e.preventDefault();
            let ticker = $(('.search_stock_inp')).val();
            if (ticker != undefined) {
                window.location.replace("http://127.0.0.1:5000/stocks?ticker=" + ticker);
            }
        });
        const form = ($('.add_transaction_form')).on('submit', function (e) {
            console.log('sub');
            e.preventDefault();
            // get form data
            let ticker = ($("#symbol :selected")).val(); // The value of the selected option
            let shares = ($('#shares')).val();
            let costPerShare = ($('#costPerShare')).val();
            let purchaseDate = ($('#purchaseDate')).val().slice(8, 10) +
                ($('#purchaseDate')).val().slice(5, 7) + $('#purchaseDate').val().slice(0, 4); // convert date to db format
            ($('.' + ticker)).remove();
            ($('.stockModal')).modal('hide'); // hide the modal
            socket.emit('add_transaction', { // send to server side
                ticker: ticker,
                shares: shares,
                costPerShare: costPerShare,
                purchaseDate: purchaseDate
            })
        });
        socket.on('response_adding_table_row', function (json) {
            console.log(json);
            json = JSON.parse(json);
            if (typeof json.ticker !== 'undefined') {
                console.log('got after if table')
                if (typeof $('table').val() === 'undefined') { // if table does not exists

                    $('div.table_div').append('<div class="stock_table"><div class="table-responsive"><table class="table table-hover"><thead><tr><th>Symbol</th><th>Change per share</th><th>Shares</th><th>Cost per share</th><th>Market value</th><th>Daily Gain</th><th>Total Gain</th><th>Purchase Date</th></tr>  </thead><tbody class="stock_table_body"></tbody>');
                    $('h3').remove()
                }
                // Get correct classes
                table_classes = get_table_classes(json);
                // Round up data to 2 digits after 2
                json = round_up_data(json);
                // Convert date to short format
                let currentDate = new Date(json.purchase_date);

                $('tbody.stock_table_body').append("<tr class='" + json.ticker + "'><td class='table_br'><span class='blue'>" + json.ticker + "</span><br><span>" + json.price + "</span></td><td class='table_br'><span class=" + table_classes.total_change_class + ">" + json.total_change + "%</span><br><span>" + json.price + "</span></td><td>" + json.amount_of_stocks + "</td><td>" +
                    json.cost + "</td><td>" + json.stock_holdings + "</td><td class='table_br'><span class=" + table_classes.daily_change_class + ">" + json.daily_change + "%</span><br> <span>" + json.daily_change_money + "</span></td><td class='table_br'><span class='" + table_classes.total_change_class + "'>" + json.total_change + "%</span><br><span>" + json.total_change_money + "</span></td><td class='table_br'><span>" + currentDate.toLocaleDateString() + "</span></td></tr>");
            }
        })


        function get_table_classes(json) {
            // get_table_classes is a function that gets the json and returns the appropriate classes
            let total_change_class;
            let daily_change_class;
            // Check total change class
            if (json.total_change > 0) {
                total_change_class = "green";
            } else {
                total_change_class = "red";
            }
            // Check daily change class
            if (json.daily_change === 0) {
                daily_change_class = "";
            } else if (json.daily_change > 0) {
                daily_change_class = "green";
            } else {
                daily_change_class = "red";
            }
            return {
                "total_change_class": total_change_class,
                "daily_change_class": daily_change_class
            }
        }

        function round_up_data(json) {
            // Converting to only two numbers after .
            json.price = json.price.toFixed(2);
            json.total_change = json.total_change.toFixed(2);
            json.daily_change = json.daily_change.toFixed(2);
            json.total_change_money = json.total_change_money.toFixed(2);
            //Converting to number
            console.log(json.price)
            json.price = Number(json.price);
            json.total_change = Number(json.total_change);
            json.daily_change = Number(json.daily_change);
            json.total_change_money = Number(json.total_change_money);
            return json;

        }

        var swiper = new Swiper('.swiper-container', {
            spaceBetween: 30,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            variableWidth: false,
            slidesPerView: "auto"

        });

        // ---------- Chart Chart
        var cakeConfig = {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: [
                        50,
                        25,
                        20,
                        5

                    ],
                    backgroundColor: [
                        "rgba(255,35,31,1)",
                        "rgba(255,147,39,1)",
                        "rgba(94, 119, 255, 1)",
                        "blue"
                    ],
                    label: 'Stock',
                    borderColor: '#fff',
                    borderWidth: 0,
                }],
                labels: [
                    '50% Consumer',
                    '25% HealthCare',
                    '20% Others',
                    '5% Tech'
                ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                legend: {
                    labels: {
                        fontFamily: "'Overpass', sans-serif",
                        fontColor: '#999',
                    },
                },
                animation: {
                    animateScale: true,
                    animateRotate: true
                }
            }
        };

        // ---------- Line Chart
        function lineChartData(labels, datasets) {
            return {
                labels: labels,
                datasets: datasets
            }
        }

        const lineChartOptions = {
            responsive: true,
            maintainAspectRatio: false,
            tooltips: {
                mode: 'nearest',
                intersect: false,
                backgroundColor: '#393f49',
                titleMarginBottom: 8,
                titleFontSize: 14,
                titleFontColor: '#f8f9fa',
                titleFontFamily: "'Overpass', sans-serif",
                bodyFontSize: 11,
                bodyFontColor: '#d7d9e0',
                bodyFontFamily: "'Overpass', sans-serif",
                footerMarginTop: 10,
                footerFontSize: 11,
                footerFontColor: '#f8f9fa',
                footerFontFamily: "'Overpass', sans-serif",
                xPadding: 10,
                yPadding: 10,
                caretPadding: 5,
                cornerRadius: 4,
            },
            legend: {
                labels: {
                    padding: 30,
                    fontSize: 14,
                    fontColor: '#6c757d',
                    fontFamily: "'Overpass', sans-serif",
                    boxWidth: 14,
                },
            },
            scales: {
                xAxes: [{
                    gridLines: {
                        lineWidth: 0,
                        color: 'transparent',
                        zeroLineWidth: 0,
                        zeroLineColor: 'transparent',
                    },
                    ticks: {
                        fontSize: 12,
                        fontColor: '#bcbec0',
                        fontFamily: "'Overpass', sans-serif",
                    },
                }],
                yAxes: [{
                    gridLines: {
                        lineWidth: 0,
                        color: 'transparent',
                        zeroLineWidth: 0,
                        zeroLineColor: 'transparent',
                    },
                    ticks: {
                        fontSize: 12,
                        fontColor: '#bcbec0',
                        fontFamily: "'Overpass', sans-serif",
                    },
                }],
            },
        };


        chartElement = (el) => {
            return document.querySelector(el).getContext('2d');
        }


        window.onload = function () {
            var cakeCtx = document.getElementById('cakeStockChart').getContext('2d');
            window.myDoughnut = new Chart(cakeCtx, cakeConfig);


            // All Linechart
            var chartLine = new Chart(chartElement("#lineStockChart"), {
                type: 'line',
                data: lineChartData(
                    ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep'],
                    [{
                        label: 'Chart 1',
                        backgroundColor: 'rgba(94, 119, 255, 0.8)',
                        borderColor: 'transparent',
                        borderWidth: 0,
                        pointRadius: 3,
                        pointHoverRadius: 3,
                        pointHitRadius: 100,
                        pointBackgroundColor: 'transparent',
                        pointHoverBackgroundColor: 'rgba(94, 119, 255, 1)',
                        data: [0, 9, 15, 10, 30, 15, 25, 18, 20],
                    },
                        {
                            label: 'Chart 2',
                            backgroundColor: 'rgba(171, 184, 255, 0.8)',
                            borderColor: 'transparent',
                            borderWidth: 0,
                            pointRadius: 3,
                            pointHoverRadius: 3,
                            pointHitRadius: 100,
                            pointBackgroundColor: 'transparent',
                            pointHoverBackgroundColor: 'rgba(171, 184, 255, 1)',
                            data: [0, 10, 10, 13, 10, 20, 10, 10, 25],
                        }
                    ],
                ),
                options: lineChartOptions
            });


            // All Linechart - 1m
            var chartLine = new Chart(chartElement("#lineStockChart_1m"), {
                type: 'line',
                data: lineChartData(
                    ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep'],
                    [{
                        label: 'Chart 1',
                        backgroundColor: 'rgba(94, 119, 255, 0.8)',
                        borderColor: 'transparent',
                        borderWidth: 0,
                        pointRadius: 3,
                        pointHoverRadius: 3,
                        pointHitRadius: 100,
                        pointBackgroundColor: 'transparent',
                        pointHoverBackgroundColor: 'rgba(94, 119, 255, 1)',
                        data: [0, 9, 15, 10, 30, 15, 25, 18, 20],
                    },
                        {
                            label: 'Chart 2',
                            backgroundColor: 'rgba(171, 184, 255, 0.8)',
                            borderColor: 'transparent',
                            borderWidth: 0,
                            pointRadius: 3,
                            pointHoverRadius: 3,
                            pointHitRadius: 100,
                            pointBackgroundColor: 'transparent',
                            pointHoverBackgroundColor: 'rgba(171, 184, 255, 1)',
                            data: [0, 10, 10, 13, 10, 20, 10, 10, 25],
                        }
                    ],
                ),
                options: lineChartOptions
            });

            // All Linechart - 3m
            var chartLine = new Chart(chartElement("#lineStockChart_3m"), {
                type: 'line',
                data: lineChartData(
                    ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep'],
                    [{
                        label: 'Chart 1',
                        backgroundColor: 'rgba(94, 119, 255, 0.8)',
                        borderColor: 'transparent',
                        borderWidth: 0,
                        pointRadius: 3,
                        pointHoverRadius: 3,
                        pointHitRadius: 100,
                        pointBackgroundColor: 'transparent',
                        pointHoverBackgroundColor: 'rgba(94, 119, 255, 1)',
                        data: [0, 9, 15, 10, 30, 15, 25, 18, 20],
                    },
                        {
                            label: 'Chart 2',
                            backgroundColor: 'rgba(171, 184, 255, 0.8)',
                            borderColor: 'transparent',
                            borderWidth: 0,
                            pointRadius: 3,
                            pointHoverRadius: 3,
                            pointHitRadius: 100,
                            pointBackgroundColor: 'transparent',
                            pointHoverBackgroundColor: 'rgba(171, 184, 255, 1)',
                            data: [0, 10, 10, 13, 10, 20, 10, 10, 25],
                        }
                    ],
                ),
                options: lineChartOptions
            });

            // All Linechart - 6m
            var chartLine = new Chart(chartElement("#lineStockChart_6m"), {
                type: 'line',
                data: lineChartData(
                    ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep'],
                    [{
                        label: 'Chart 1',
                        backgroundColor: 'rgba(94, 119, 255, 0.8)',
                        borderColor: 'transparent',
                        borderWidth: 0,
                        pointRadius: 3,
                        pointHoverRadius: 3,
                        pointHitRadius: 100,
                        pointBackgroundColor: 'transparent',
                        pointHoverBackgroundColor: 'rgba(94, 119, 255, 1)',
                        data: [0, 9, 15, 10, 30, 15, 25, 18, 20],
                    },
                        {
                            label: 'Chart 2',
                            backgroundColor: 'rgba(171, 184, 255, 0.8)',
                            borderColor: 'transparent',
                            borderWidth: 0,
                            pointRadius: 3,
                            pointHoverRadius: 3,
                            pointHitRadius: 100,
                            pointBackgroundColor: 'transparent',
                            pointHoverBackgroundColor: 'rgba(171, 184, 255, 1)',
                            data: [0, 10, 10, 13, 10, 20, 10, 10, 25],
                        }
                    ],
                ),
                options: lineChartOptions
            });

            // All Linechart - ytd
            var chartLine = new Chart(chartElement("#lineStockChart_ytd"), {
                type: 'line',
                data: lineChartData(
                    ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep'],
                    [{
                        label: 'Chart 1',
                        backgroundColor: 'rgba(94, 119, 255, 0.8)',
                        borderColor: 'transparent',
                        borderWidth: 0,
                        pointRadius: 3,
                        pointHoverRadius: 3,
                        pointHitRadius: 100,
                        pointBackgroundColor: 'transparent',
                        pointHoverBackgroundColor: 'rgba(94, 119, 255, 1)',
                        data: [0, 9, 15, 10, 30, 15, 25, 18, 20],
                    },
                        {
                            label: 'Chart 2',
                            backgroundColor: 'rgba(171, 184, 255, 0.8)',
                            borderColor: 'transparent',
                            borderWidth: 0,
                            pointRadius: 3,
                            pointHoverRadius: 3,
                            pointHitRadius: 100,
                            pointBackgroundColor: 'transparent',
                            pointHoverBackgroundColor: 'rgba(171, 184, 255, 1)',
                            data: [0, 10, 10, 13, 10, 20, 10, 10, 25],
                        }
                    ],
                ),
                options: lineChartOptions
            });

            // All Linechart - 1y
            var chartLine = new Chart(chartElement("#lineStockChart_1y"), {
                type: 'line',
                data: lineChartData(
                    ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep'],
                    [{
                        label: 'Chart 1',
                        backgroundColor: 'rgba(94, 119, 255, 0.8)',
                        borderColor: 'transparent',
                        borderWidth: 0,
                        pointRadius: 3,
                        pointHoverRadius: 3,
                        pointHitRadius: 100,
                        pointBackgroundColor: 'transparent',
                        pointHoverBackgroundColor: 'rgba(94, 119, 255, 1)',
                        data: [0, 9, 15, 10, 30, 15, 25, 18, 20],
                    },
                        {
                            label: 'Chart 2',
                            backgroundColor: 'rgba(171, 184, 255, 0.8)',
                            borderColor: 'transparent',
                            borderWidth: 0,
                            pointRadius: 3,
                            pointHoverRadius: 3,
                            pointHitRadius: 100,
                            pointBackgroundColor: 'transparent',
                            pointHoverBackgroundColor: 'rgba(171, 184, 255, 1)',
                            data: [0, 10, 10, 13, 10, 20, 10, 10, 25],
                        }
                    ],
                ),
                options: lineChartOptions
            });

            // All Linechart - 2y
            var chartLine = new Chart(chartElement("#lineStockChart_2y"), {
                type: 'line',
                data: lineChartData(
                    ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep'],
                    [{
                        label: 'Chart 1',
                        backgroundColor: 'rgba(94, 119, 255, 0.8)',
                        borderColor: 'transparent',
                        borderWidth: 0,
                        pointRadius: 3,
                        pointHoverRadius: 3,
                        pointHitRadius: 100,
                        pointBackgroundColor: 'transparent',
                        pointHoverBackgroundColor: 'rgba(94, 119, 255, 1)',
                        data: [0, 9, 15, 10, 30, 15, 25, 18, 20],
                    },
                        {
                            label: 'Chart 2',
                            backgroundColor: 'rgba(171, 184, 255, 0.8)',
                            borderColor: 'transparent',
                            borderWidth: 0,
                            pointRadius: 3,
                            pointHoverRadius: 3,
                            pointHitRadius: 100,
                            pointBackgroundColor: 'transparent',
                            pointHoverBackgroundColor: 'rgba(171, 184, 255, 1)',
                            data: [0, 10, 10, 13, 10, 20, 10, 10, 25],
                        }
                    ],
                ),
                options: lineChartOptions
            });

            // All Linechart - 3y
            var chartLine = new Chart(chartElement("#lineStockChart_3y"), {
                type: 'line',
                data: lineChartData(
                    ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep'],
                    [{
                        label: 'Chart 1',
                        backgroundColor: 'rgba(94, 119, 255, 0.8)',
                        borderColor: 'transparent',
                        borderWidth: 0,
                        pointRadius: 3,
                        pointHoverRadius: 3,
                        pointHitRadius: 100,
                        pointBackgroundColor: 'transparent',
                        pointHoverBackgroundColor: 'rgba(94, 119, 255, 1)',
                        data: [0, 9, 15, 10, 30, 15, 25, 18, 20],
                    },
                        {
                            label: 'Chart 2',
                            backgroundColor: 'rgba(171, 184, 255, 0.8)',
                            borderColor: 'transparent',
                            borderWidth: 0,
                            pointRadius: 3,
                            pointHoverRadius: 3,
                            pointHitRadius: 100,
                            pointBackgroundColor: 'transparent',
                            pointHoverBackgroundColor: 'rgba(171, 184, 255, 1)',
                            data: [0, 10, 10, 13, 10, 20, 10, 10, 25],
                        }
                    ],
                ),
                options: lineChartOptions
            });

            // All Linechart - 5y
            var chartLine = new Chart(chartElement("#lineStockChart_5y"), {
                type: 'line',
                data: lineChartData(
                    ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep'],
                    [{
                        label: 'Chart 1',
                        backgroundColor: 'rgba(94, 119, 255, 0.8)',
                        borderColor: 'transparent',
                        borderWidth: 0,
                        pointRadius: 3,
                        pointHoverRadius: 3,
                        pointHitRadius: 100,
                        pointBackgroundColor: 'transparent',
                        pointHoverBackgroundColor: 'rgba(94, 119, 255, 1)',
                        data: [0, 9, 15, 10, 30, 15, 25, 18, 20],
                    },
                        {
                            label: 'Chart 2',
                            backgroundColor: 'rgba(171, 184, 255, 0.8)',
                            borderColor: 'transparent',
                            borderWidth: 0,
                            pointRadius: 3,
                            pointHoverRadius: 3,
                            pointHitRadius: 100,
                            pointBackgroundColor: 'transparent',
                            pointHoverBackgroundColor: 'rgba(171, 184, 255, 1)',
                            data: [0, 10, 10, 13, 10, 20, 10, 10, 25],
                        }
                    ],
                ),
                options: lineChartOptions
            });

        }

            </script>
</body>
</html>