<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/stock_dashboard_style.css">
    <title>Stock dashboard</title>
</head>

<body>
    <section id="sideMenu">
        <nav>
            <a href="" class="sideMenu-a active">Item</a>
            <a href="" class="sideMenu-a">Item</a>
            <a href="" class="sideMenu-a">Item</a>
            <a href="" class="sideMenu-a">Item</a>
            <a href="" class="sideMenu-a">Item</a>
            <a href="" class="sideMenu-a">Item</a>
        </nav>
    </section>
</body>

</html>