<!DOCTYPE html>
<html lang="en">
<!--style="max-height: 100px;border-radius:50%;"-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stock</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ionicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/swiper-bundle.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/Chart.min.js')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
</head>

<body id="dark">
<!-- ----------------------- Header --------------------- -->
<header class="dark-bb">
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="exchange-dark.html"><img src="assets/img/logo.png" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headerMenu"
                aria-controls="headerMenu" aria-expanded="false" aria-label="Toggle navigation">
            <i class="icon ion-md-menu"></i>
        </button>
        <div class="collapse navbar-collapse" id="headerMenu">
            <ul class="navbar-nav mr-auto">
                <li class="nav_bar_link nav-item ">
                    <a class="nav-link" href="./index.html" role="button" aria-haspopup="true" aria-expanded="false">
                        Dashboard
                    </a>
                </li>
                <!-- <li class="nav_bar_link nav-item active">
        <a class="nav-link" href="./store.html" role="button"aria-haspopup="true" aria-expanded="false">
          Stock
        </a>
      </li> -->
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="navbar-item search_Stock_p">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="search_stock"><i class="icon ion-md-search"></i></span>
                        </div>
                        <input type="text" class="form-control search_stock_inp" placeholder="Search"
                               aria-describedby="search_stock">
                    </div>
                    <div class="search_stock_dropdown">
                        <div class="heading">
                            <span>Company</span>
                        </div>
                        <ul class="comp_content list-group">
                            <!-- --------- Company --------- -->
                            <li class="list-group-item list-group-item-action" data-company="amazon">
                                <div class="img">
                                    <img src="./assets/img/icon/1.png" alt="">
                                </div>
                                <div class="st_comp">
                                    Amazon
                                </div>
                            </li>
                            <!-- --------- Company --------- -->
                            <li class="list-group-item list-group-item-action" data-company="google">
                                <div class="img">
                                    <img src="./assets/img/icon/1.png" alt="">
                                </div>
                                <div class="st_comp">
                                    Google
                                </div>
                            </li>
                            <!-- --------- Company --------- -->
                            <li class="list-group-item list-group-item-action" data-company="microsoft">
                                <div class="img">
                                    <img src="./assets/img/icon/1.png" alt="">
                                </div>
                                <div class="st_comp">
                                    Microsoft
                                </div>
                            </li>
                            <!-- --------- Company --------- -->
                            <li class="list-group-item list-group-item-action" data-company="facebook">
                                <div class="img">
                                    <img src="./assets/img/icon/1.png" alt="">
                                </div>
                                <div class="st_comp">
                                    FaceBook
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- ----------------------- End of Header --------------------- -->
<!-- ----------------------- Content --------------------- -->
<div class="container-fluid mtb15 no-fluid">
    <!-- --------------- Title -------------- -->
    <div class="row sm-gutters">
        <div class="col-lg-4 col-md-12">
            <div class="stock_profile_card stock_comp_card">
                <div class="img">
                    <img src="./assets/img/icon/google favicon.png" alt="">
                </div>
                <div class="content">
                    <p class="title">
                        <span>Google</span> - Google.com inc
                        <span class="star_p">
                                <!-- <input type="checkbox" name="starCheckbox"> -->
                            <!-- <label for="starCheckbox"> -->
                                <span class="star_p">
                                    <svg class="" id='star_id' viewBox="0 -10 511.98685 511"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path class="star"
                                              d="m510.652344 185.902344c-3.351563-10.367188-12.546875-17.730469-23.425782-18.710938l-147.773437-13.417968-58.433594-136.769532c-4.308593-10.023437-14.121093-16.511718-25.023437-16.511718s-20.714844 6.488281-25.023438 16.535156l-58.433594 136.746094-147.796874 13.417968c-10.859376 1.003906-20.03125 8.34375-23.402344 18.710938-3.371094 10.367187-.257813 21.738281 7.957031 28.90625l111.699219 97.960937-32.9375 145.089844c-2.410156 10.667969 1.730468 21.695313 10.582031 28.09375 4.757813 3.4375 10.324219 5.1875 15.9375 5.1875 4.839844 0 9.640625-1.304687 13.949219-3.882813l127.46875-76.183593 127.421875 76.183593c9.324219 5.609376 21.078125 5.097657 29.910156-1.304687 8.855469-6.417969 12.992187-17.449219 10.582031-28.09375l-32.9375-145.089844 111.699219-97.941406c8.214844-7.1875 11.351563-18.539063 7.980469-28.925781zm0 0"></path>
                                    </svg>
                                </span>
                            </label>
                            </span>
                    </p>
                    <p class="price_p red">
                        <span class="price">$5,062.55</span>
                        - 1.56 - 0.36%
                    </p>
                    <p class="descr" style="margin-top:2%;font-size:0.83em">Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="market-pairs cus_stock_container">
                <div class="header">
                    <!-- img src="assets/img/icon/3.png" alt="icon"> -->
                    <span class="filter" data-chartToggle="1m">1m</span>
                    <span class="filter" data-chartToggle="3m">3m</span>
                    <span class="filter" data-chartToggle="6m">6m</span>
                    <span class="filter" data-chartToggle="ytd">YTD</span>
                    <span class="filter" data-chartToggle="1y">1y</span>
                    <span class="filter" data-chartToggle="2y">2y</span>
                    <span class="filter" data-chartToggle="3y">3y</span>
                    <span class="filter" data-chartToggle="5y">5y</span>
                    <span class="filter active" data-chartToggle="all">all</span>
                </div>
                <div class="lineStockChart_p lineChartStockPage active" data-chartFilter="all">
                    <canvas id="lineStockChart"></canvas>
                </div>
                <div class="lineStockChart_p lineChartStockPage" data-chartFilter="1m">
                    <canvas id="lineStockChart_1m"></canvas>
                </div>
                <div class="lineStockChart_p lineChartStockPage" data-chartFilter="3m">
                    <canvas id="lineStockChart_3m"></canvas>
                </div>
                <div class="lineStockChart_p lineChartStockPage" data-chartFilter="6m">
                    <canvas id="lineStockChart_6m"></canvas>
                </div>
                <div class="lineStockChart_p lineChartStockPage" data-chartFilter="ytd">
                    <canvas id="lineStockChart_ytd"></canvas>
                </div>
                <div class="lineStockChart_p lineChartStockPage" data-chartFilter="1y">
                    <canvas id="lineStockChart_1y"></canvas>
                </div>
                <div class="lineStockChart_p lineChartStockPage" data-chartFilter="2y">
                    <canvas id="lineStockChart_2y"></canvas>
                </div>
                <div class="lineStockChart_p lineChartStockPage" data-chartFilter="3y">
                    <canvas id="lineStockChart_3y"></canvas>
                </div>
                <div class="lineStockChart_p lineChartStockPage" data-chartFilter="5y">
                    <canvas id="lineStockChart_5y"></canvas>
                </div>
            </div>
        </div>
    </div>
    <!-- --------------- Stock data -------------- -->
    <div class="row sm-gutters mt-4">
        <div class="col-lg-8 col-md-12 stock_profile_card stock_profile_card1">
            <div class="table-responsive stock_table_p">
                <table class="table">
                    <tr>
                        <td class="stock_table_title">Previous close</td>
                        <td>473.01</td>
                    </tr>
                    <tr>
                        <td class="stock_table_title">Open</td>
                        <td>473.01</td>
                    </tr>
                    <tr>
                        <td class="stock_table_title">Bid</td>
                        <td>473.01 x 901</td>
                    </tr>
                    <tr>
                        <td class="stock_table_title">Ask</td>
                        <td>473.01 x 101</td>
                    </tr>
                    <tr>
                        <td class="stock_table_title">Day's range</td>
                        <td>473.01</td>
                    </tr>
                    <tr>
                        <td class="stock_table_title">52 week range</td>
                        <td>102 - 473.01</td>
                    </tr>
                    <tr>
                        <td class="stock_table_title">Volume</td>
                        <td>84,234,677</td>
                    </tr>
                    <tr>
                        <td class="stock_table_title">Avg volume</td>
                        <td>34,665,667</td>
                    </tr>
                </table>
            </div>
            <div class="table-responsive stock_table_p">
                <table class="table">
                    <tr>
                        <td class="stock_table_title">Market Cap</td>
                        <td>473.01</td>
                    </tr>
                    <tr>
                        <td class="stock_table_title">Beta (1y monthly)</td>
                        <td>473.01</td>
                    </tr>
                    <tr>
                        <td class="stock_table_title">PE ratio (TTM)</td>
                        <td>473.01 x 901</td>
                    </tr>
                    <tr>
                        <td class="stock_table_title">EPS (TTM)</td>
                        <td>473.01 x 101</td>
                    </tr>
                    <tr>
                        <td class="stock_table_title">Next earning date</td>
                        <td>473.01</td>
                    </tr>
                    <tr>
                        <td class="stock_table_title">Dividend yeild</td>
                        <td>102 - 473.01</td>
                    </tr>
                    <tr>
                        <td class="stock_table_title">Ex-Dividend Date</td>
                        <td>84,234,677</td>
                    </tr>
                    <tr>
                        <td class="stock_table_title">YTD Change</td>
                        <td>34,665,667</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 stock_profile_card">
            <div class="table-responsive stock_table_p">
                <table class="table">
                    <tr>
                        <td class="stock_table_title">Quality</td>
                        <td><span class="stock_ind">76</span></td>
                    </tr>
                    <tr>
                        <td class="stock_table_title">Value</td>
                        <td><span class="stock_ind bg_orange">76</span></td>
                    </tr>
                    <tr>
                        <td class="stock_table_title">Momentum</td>
                        <td><span class="stock_ind bg_green">76</span></td>
                    </tr>
                    <tr>
                        <td class="stock_table_title">Stockrank</td>
                        <td><span class="stock_ind">76</span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <script type="text/javascript" src=" {{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socketio.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/Chart.bundle.min.js') }}"></script>
    <script type="text/javascript" src=" {{ url_for('static', filename='js/swipe/swiper-bundle.min.js') }}"></script>
    <script src=" {{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socketio.js') }}"></script>
    <script type="text/javascript">
        const socket = io.connect('http://' + document.domain + ':' + location.port);
        // page load functions
        window.onload = socket.emit('onload');

        socket.on('page_load_response', function(json) {
            console.log(json)
            if (typeof json !== 'undefined') {
                json = JSON.parse(json);
                if(json.isUserHoldingStock){
                  $('#star_id').addClass('active');
                }
            }
        });

        $('#star_id').click(function() { // if star checkbox is clicked
          console.log('clicked')
            if ($('#star_id').hasClass('active')) {
                // remove stock if star is active
                $('#star_id').removeClass('active');
                socket.emit('removeStock', {});
            } else {
              // add stock if star is not active
                $('#star_id').addClass('active');
                socket.emit('addStock', {});
            }
        });


    </script>
    <script>
        var swiper = new Swiper('.swiper-container', {

            spaceBetween: 30,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            }
        });

        // ---------- Line Chart
        function lineChartData(labels, datasets) {
            return {
                labels: labels,
                datasets: datasets
            }
        }

        const lineChartOptions = {
            responsive: true,
            maintainAspectRatio: false,
            tooltips: {
                mode: 'nearest',
                intersect: false,
                backgroundColor: '#393f49',
                titleMarginBottom: 8,
                titleFontSize: 14,
                titleFontColor: '#f8f9fa',
                titleFontFamily: "'Overpass', sans-serif",
                bodyFontSize: 11,
                bodyFontColor: '#d7d9e0',
                bodyFontFamily: "'Overpass', sans-serif",
                footerMarginTop: 10,
                footerFontSize: 11,
                footerFontColor: '#f8f9fa',
                footerFontFamily: "'Overpass', sans-serif",
                xPadding: 10,
                yPadding: 10,
                caretPadding: 5,
                cornerRadius: 4,
            },
            legend: {
                labels: {
                    padding: 30,
                    fontSize: 14,
                    fontColor: '#6c757d',
                    fontFamily: "'Overpass', sans-serif",
                    boxWidth: 14,
                },
            },
            scales: {
                xAxes: [{
                    gridLines: {
                        lineWidth: 0,
                        color: 'transparent',
                        zeroLineWidth: 0,
                        zeroLineColor: 'transparent',
                    },
                    ticks: {
                        fontSize: 12,
                        fontColor: '#bcbec0',
                        fontFamily: "'Overpass', sans-serif",
                    },
                }],
                yAxes: [{
                    gridLines: {
                        lineWidth: 0,
                        color: 'transparent',
                        zeroLineWidth: 0,
                        zeroLineColor: 'transparent',
                    },
                    ticks: {
                        fontSize: 12,
                        fontColor: '#bcbec0',
                        fontFamily: "'Overpass', sans-serif",
                    },
                }],
            },
        };


        chartElement = (el) => {
            return document.querySelector(el).getContext('2d');
        }


        window.onload = function() {

            // All Linechart
            var chartLine = new Chart(chartElement("#lineStockChart"), {
                type: 'line',
                data: lineChartData(
                    ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep'],
                    [{
                            label: 'Chart 1',
                            backgroundColor: 'rgba(94, 119, 255, 0.8)',
                            borderColor: 'transparent',
                            borderWidth: 0,
                            pointRadius: 3,
                            pointHoverRadius: 3,
                            pointHitRadius: 100,
                            pointBackgroundColor: 'transparent',
                            pointHoverBackgroundColor: 'rgba(94, 119, 255, 1)',
                            data: [0, 9, 15, 10, 30, 15, 25, 18, 20],
                        },
                        {
                            label: 'Chart 2',
                            backgroundColor: 'rgba(171, 184, 255, 0.8)',
                            borderColor: 'transparent',
                            borderWidth: 0,
                            pointRadius: 3,
                            pointHoverRadius: 3,
                            pointHitRadius: 100,
                            pointBackgroundColor: 'transparent',
                            pointHoverBackgroundColor: 'rgba(171, 184, 255, 1)',
                            data: [0, 10, 10, 13, 10, 20, 10, 10, 25],
                        }
                    ],
                ),
                options: lineChartOptions
            });


            // All Linechart - 1m
            var chartLine = new Chart(chartElement("#lineStockChart_1m"), {
                type: 'line',
                data: lineChartData(
                    ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep'],
                    [{
                            label: 'Chart 1',
                            backgroundColor: 'rgba(94, 119, 255, 0.8)',
                            borderColor: 'transparent',
                            borderWidth: 0,
                            pointRadius: 3,
                            pointHoverRadius: 3,
                            pointHitRadius: 100,
                            pointBackgroundColor: 'transparent',
                            pointHoverBackgroundColor: 'rgba(94, 119, 255, 1)',
                            data: [0, 9, 15, 10, 30, 15, 25, 18, 20],
                        },
                        {
                            label: 'Chart 2',
                            backgroundColor: 'rgba(171, 184, 255, 0.8)',
                            borderColor: 'transparent',
                            borderWidth: 0,
                            pointRadius: 3,
                            pointHoverRadius: 3,
                            pointHitRadius: 100,
                            pointBackgroundColor: 'transparent',
                            pointHoverBackgroundColor: 'rgba(171, 184, 255, 1)',
                            data: [0, 10, 10, 13, 10, 20, 10, 10, 25],
                        }
                    ],
                ),
                options: lineChartOptions
            });

            // All Linechart - 3m
            var chartLine = new Chart(chartElement("#lineStockChart_3m"), {
                type: 'line',
                data: lineChartData(
                    ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep'],
                    [{
                            label: 'Chart 1',
                            backgroundColor: 'rgba(94, 119, 255, 0.8)',
                            borderColor: 'transparent',
                            borderWidth: 0,
                            pointRadius: 3,
                            pointHoverRadius: 3,
                            pointHitRadius: 100,
                            pointBackgroundColor: 'transparent',
                            pointHoverBackgroundColor: 'rgba(94, 119, 255, 1)',
                            data: [0, 9, 15, 10, 30, 15, 25, 18, 20],
                        },
                        {
                            label: 'Chart 2',
                            backgroundColor: 'rgba(171, 184, 255, 0.8)',
                            borderColor: 'transparent',
                            borderWidth: 0,
                            pointRadius: 3,
                            pointHoverRadius: 3,
                            pointHitRadius: 100,
                            pointBackgroundColor: 'transparent',
                            pointHoverBackgroundColor: 'rgba(171, 184, 255, 1)',
                            data: [0, 10, 10, 13, 10, 20, 10, 10, 25],
                        }
                    ],
                ),
                options: lineChartOptions
            });

            // All Linechart - 6m
            var chartLine = new Chart(chartElement("#lineStockChart_6m"), {
                type: 'line',
                data: lineChartData(
                    ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep'],
                    [{
                            label: 'Chart 1',
                            backgroundColor: 'rgba(94, 119, 255, 0.8)',
                            borderColor: 'transparent',
                            borderWidth: 0,
                            pointRadius: 3,
                            pointHoverRadius: 3,
                            pointHitRadius: 100,
                            pointBackgroundColor: 'transparent',
                            pointHoverBackgroundColor: 'rgba(94, 119, 255, 1)',
                            data: [0, 9, 15, 10, 30, 15, 25, 18, 20],
                        },
                        {
                            label: 'Chart 2',
                            backgroundColor: 'rgba(171, 184, 255, 0.8)',
                            borderColor: 'transparent',
                            borderWidth: 0,
                            pointRadius: 3,
                            pointHoverRadius: 3,
                            pointHitRadius: 100,
                            pointBackgroundColor: 'transparent',
                            pointHoverBackgroundColor: 'rgba(171, 184, 255, 1)',
                            data: [0, 10, 10, 13, 10, 20, 10, 10, 25],
                        }
                    ],
                ),
                options: lineChartOptions
            });

            // All Linechart - ytd
            var chartLine = new Chart(chartElement("#lineStockChart_ytd"), {
                type: 'line',
                data: lineChartData(
                    ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep'],
                    [{
                            label: 'Chart 1',
                            backgroundColor: 'rgba(94, 119, 255, 0.8)',
                            borderColor: 'transparent',
                            borderWidth: 0,
                            pointRadius: 3,
                            pointHoverRadius: 3,
                            pointHitRadius: 100,
                            pointBackgroundColor: 'transparent',
                            pointHoverBackgroundColor: 'rgba(94, 119, 255, 1)',
                            data: [0, 9, 15, 10, 30, 15, 25, 18, 20],
                        },
                        {
                            label: 'Chart 2',
                            backgroundColor: 'rgba(171, 184, 255, 0.8)',
                            borderColor: 'transparent',
                            borderWidth: 0,
                            pointRadius: 3,
                            pointHoverRadius: 3,
                            pointHitRadius: 100,
                            pointBackgroundColor: 'transparent',
                            pointHoverBackgroundColor: 'rgba(171, 184, 255, 1)',
                            data: [0, 10, 10, 13, 10, 20, 10, 10, 25],
                        }
                    ],
                ),
                options: lineChartOptions
            });

            // All Linechart - 1y
            var chartLine = new Chart(chartElement("#lineStockChart_1y"), {
                type: 'line',
                data: lineChartData(
                    ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep'],
                    [{
                            label: 'Chart 1',
                            backgroundColor: 'rgba(94, 119, 255, 0.8)',
                            borderColor: 'transparent',
                            borderWidth: 0,
                            pointRadius: 3,
                            pointHoverRadius: 3,
                            pointHitRadius: 100,
                            pointBackgroundColor: 'transparent',
                            pointHoverBackgroundColor: 'rgba(94, 119, 255, 1)',
                            data: [0, 9, 15, 10, 30, 15, 25, 18, 20],
                        },
                        {
                            label: 'Chart 2',
                            backgroundColor: 'rgba(171, 184, 255, 0.8)',
                            borderColor: 'transparent',
                            borderWidth: 0,
                            pointRadius: 3,
                            pointHoverRadius: 3,
                            pointHitRadius: 100,
                            pointBackgroundColor: 'transparent',
                            pointHoverBackgroundColor: 'rgba(171, 184, 255, 1)',
                            data: [0, 10, 10, 13, 10, 20, 10, 10, 25],
                        }
                    ],
                ),
                options: lineChartOptions
            });

            // All Linechart - 2y
            var chartLine = new Chart(chartElement("#lineStockChart_2y"), {
                type: 'line',
                data: lineChartData(
                    ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep'],
                    [{
                            label: 'Chart 1',
                            backgroundColor: 'rgba(94, 119, 255, 0.8)',
                            borderColor: 'transparent',
                            borderWidth: 0,
                            pointRadius: 3,
                            pointHoverRadius: 3,
                            pointHitRadius: 100,
                            pointBackgroundColor: 'transparent',
                            pointHoverBackgroundColor: 'rgba(94, 119, 255, 1)',
                            data: [0, 9, 15, 10, 30, 15, 25, 18, 20],
                        },
                        {
                            label: 'Chart 2',
                            backgroundColor: 'rgba(171, 184, 255, 0.8)',
                            borderColor: 'transparent',
                            borderWidth: 0,
                            pointRadius: 3,
                            pointHoverRadius: 3,
                            pointHitRadius: 100,
                            pointBackgroundColor: 'transparent',
                            pointHoverBackgroundColor: 'rgba(171, 184, 255, 1)',
                            data: [0, 10, 10, 13, 10, 20, 10, 10, 25],
                        }
                    ],
                ),
                options: lineChartOptions
            });

            // All Linechart - 3y
            var chartLine = new Chart(chartElement("#lineStockChart_3y"), {
                type: 'line',
                data: lineChartData(
                    ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep'],
                    [{
                            label: 'Chart 1',
                            backgroundColor: 'rgba(94, 119, 255, 0.8)',
                            borderColor: 'transparent',
                            borderWidth: 0,
                            pointRadius: 3,
                            pointHoverRadius: 3,
                            pointHitRadius: 100,
                            pointBackgroundColor: 'transparent',
                            pointHoverBackgroundColor: 'rgba(94, 119, 255, 1)',
                            data: [0, 9, 15, 10, 30, 15, 25, 18, 20],
                        },
                        {
                            label: 'Chart 2',
                            backgroundColor: 'rgba(171, 184, 255, 0.8)',
                            borderColor: 'transparent',
                            borderWidth: 0,
                            pointRadius: 3,
                            pointHoverRadius: 3,
                            pointHitRadius: 100,
                            pointBackgroundColor: 'transparent',
                            pointHoverBackgroundColor: 'rgba(171, 184, 255, 1)',
                            data: [0, 10, 10, 13, 10, 20, 10, 10, 25],
                        }
                    ],
                ),
                options: lineChartOptions
            });

            // All Linechart - 5y
            var chartLine = new Chart(chartElement("#lineStockChart_5y"), {
                type: 'line',
                data: lineChartData(
                    ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep'],
                    [{
                            label: 'Chart 1',
                            backgroundColor: 'rgba(94, 119, 255, 0.8)',
                            borderColor: 'transparent',
                            borderWidth: 0,
                            pointRadius: 3,
                            pointHoverRadius: 3,
                            pointHitRadius: 100,
                            pointBackgroundColor: 'transparent',
                            pointHoverBackgroundColor: 'rgba(94, 119, 255, 1)',
                            data: [0, 9, 15, 10, 30, 15, 25, 18, 20],
                        },
                        {
                            label: 'Chart 2',
                            backgroundColor: 'rgba(171, 184, 255, 0.8)',
                            borderColor: 'transparent',
                            borderWidth: 0,
                            pointRadius: 3,
                            pointHoverRadius: 3,
                            pointHitRadius: 100,
                            pointBackgroundColor: 'transparent',
                            pointHoverBackgroundColor: 'rgba(171, 184, 255, 1)',
                            data: [0, 10, 10, 13, 10, 20, 10, 10, 25],
                        }
                    ],
                ),
                options: lineChartOptions
            });

        }

    </script>
</body>
<!-- Mirrored from crypo.netlify.app/exchange-dark.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 24 Aug 2020 13:06:04 GMT -->

</html>